body {
	overflow: hidden;
}
.ball {
	position: absolute;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

// .bouncingball {
// 	width: 140px;
// 	height: 140px;
// 	border-radius: 100%;
// 	background: #ccc;
// 	animation: bounce 1s;
// 	transform: translateY(0px);
// 	animation-iteration-count: infinite;
// 	position: absolute;
// 	margin: 50px;
// }

// @keyframes bobble {
//     0% {
//         transform: translate3d(50px, 40px, 0px);
//         animation-timing-function: ease-in;
//     }
//     50% {
//         transform: translate3d(50px, 50px, 0px);
//         animation-timing-function: ease-out;
//     }
//     100% {
//         transform: translate3d(50px, 40px, 0px);
//     }
// }
